
<div >
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>


<mat-table  #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell  *matCellDef="let customer"> {{customer.name}} </mat-cell>
  </ng-container>

  <!-- username Column -->
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.username}} </mat-cell>
  </ng-container>

  <!-- website Column -->
  <ng-container matColumnDef="website">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Website </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.website}} </mat-cell>
  </ng-container>

   <!--phone Column-->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.phone}} </mat-cell>
  </ng-container>
  <!--company Column-->
  <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.company.name}} </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
