@font-face {
  font-family: 'spotify';
  src:  url('fonts/spotify.eot?lm2p0p');
  src:  url('fonts/spotify.eot?lm2p0p#iefix') format('embedded-opentype'),
  url('fonts/spotify.ttf?lm2p0p') format('truetype'),
  url('fonts/spotify.woff?lm2p0p') format('woff'),
  url('fonts/spotify.svg?lm2p0p#spotify') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="spotify-"], [class*=" spotify-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'spotify' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spotify-album:before {
  content: "\e900";
}
.spotify-Song:before {
  content: "\e901";
}
