
mat-table, mat-paginator {
  background-color: #002538;
  color: #B8C1C6;
  //width: 80vw;
  margin-left: 3rem;
}
.row{
  width: 100%;
}

.mat-table {
}
mat-paginator{
}

mat-cell, mat-header-cell, mat-paginator {
  color: #B8C1C6;
  &:hover {
    cursor: pointer;
  }

}

mat-header-row {
  border-bottom-color: #757e83;
}

mat-row {
  border-bottom-color: #757e83;
  border-top-color: #757e83;
}

.mat-paginator::ng-deep {
  display: flex;
  justify-content: space-around;


  .mat-select-value, .mat-select-arrow {
    color: #B8C1C6;
  }
  .mat-icon-button[disabled] {
    color: #545e63;
  }

}

.btn-primary {
  background-color: #002538;
  border: none;
  box-shadow: none;
  margin-left: 1rem;

}

.btn-primary:active {
  box-shadow: none !important;
}

mat-spinner {
  margin: 15% 47% auto;

}

img {
  width: 30px;
}

bar-rating ::ng-deep{
  .br-unit {
    width: 11px
  }
}














