<div class="clr-row">
  <div class="text-center">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Artist" [(ngModel)]="artist" [formControl]="searchControl"
             (input)=getSpotifyArtists(artist) [matAutocomplete]="auto">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" [hidden]="!artist">
      <mat-option *ngFor="let artist of iTunesArtists.results" [value]="artist.artistName"
                  (onSelectionChange)="getArtistAlbums(artist.artistId)">
     <span>{{ artist.artistName  }}</span>
      </mat-option>
    </mat-autocomplete>
  </div>

</div>
<div class="row">

  <!--<div class="col-md-1">-->

    <!--<nav class="sidenav ">-->
      <!--<section class="sidenav-content">-->
        <!--<section class="nav-group" >-->

          <!--<a class="nav-link favorite"  (click)="onFavoriteAlbum()" >-->
             <!--<span class="spotify-album" matTooltip="Favorite Album"></span>-->
          <!--</a>-->
          <!--<a class="nav-link favorite"  (click)="onFavoriteSongs()" >-->
            <!--<span class="spotify-Song" matTooltip="Favorite Song"></span>-->
          <!--</a>-->
        <!--</section>-->
        <!--<section class="nav-group">-->
        <!--</section>-->
        <!--<mat-divider></mat-divider>-->
      <!--</section>-->
      <!--<div class="spacer"></div>-->

      <!--</nav>-->
  <!--</div>-->
  <div class="col-md-1 col-xs-1">
    <app-navbar (favoriteAlbum)="onFavoriteAlbum()" (favoriteSong)="onFavoriteSongs()"></app-navbar>
  </div>
<div class="col-md-11 col-xs-11" *ngIf="albumsTable" >
  <mat-table #table [dataSource]="dataSource" *ngIf="dataSource;else spinner" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="index">
  <mat-header-cell *matHeaderCellDef mat-sort-header> No</mat-header-cell>
  <mat-cell *matCellDef="let album;let i=index" (click)="onAlbumDetails(album.collectionId)">{{i+1}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="artwork">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Artwork</mat-header-cell>
  <mat-cell *matCellDef="let album" (click)="onAlbumDetails(album.collectionId)"><img src="{{album.artworkUrl100}}"
  alt="artwork"></mat-cell>
  </ng-container>

  <ng-container matColumnDef="album name">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Album Name</mat-header-cell>
  <mat-cell *matCellDef="let album" (click)="onAlbumDetails(album.collectionId)">{{album.collectionName}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="release date">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Release Date</mat-header-cell>
  <mat-cell *matCellDef="let album" (click)="onAlbumDetails(album.collectionId)"> {{album.releaseDate}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="total tracks">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Tracks</mat-header-cell>
  <mat-cell *matCellDef="let album" (click)="onAlbumDetails(album.collectionId)"> {{album.trackCount}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rating">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Rating</mat-header-cell>
  <mat-cell *matCellDef="let album" >
  <bar-rating  [max]="5" [theme]="'stars'" [(rate)]="album.rate"  id="rate" (rateChange)="onRateChange(album)"></bar-rating>
  </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>


  <mat-paginator [length]="length"
                 [hidden]="!dataSource"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = $event">
  </mat-paginator>

<ng-template #spinner>

  <mat-spinner [diameter]="40" color="primary"></mat-spinner>
</ng-template>





