<div class="container">
  <div class="clr-row">

    <form class="clr-form" #signUpForm="ngForm" (ngSubmit)="login(signUpForm.value)" >
      <div class="card">
        <section class="form-block">
          <div class="form-group">
            <label for="email" class="required">Email</label>
            <input  type="text" id="email" [(ngModel)]="user.email" name="email">
          </div>
        </section>
        <section class="form-block">
          <div class="form-group">
            <label for="password" class="required">Password</label>
            <input type="password" id="password" [(ngModel)]="user.password" name="password" >
          </div>
        </section>

        <div class="clr-form-control text-center">
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <button class="btn btn-primary btn-block">Login</button>
              <button class="btn btn-default btn-block btn-google" (click)="loginWithGoogle()"><i class="fa fa-google"></i><span>Login with google</span></button>
              <button class="btn btn-default btn-block btn-facebook" (click)="loginWithFacebook()"><i class="fa fa-facebook-f"></i><span>Login with facebook</span></button>
              <button class="btn btn-default btn-block btn-github" (click)="loginWithGithub()"><i class="fa fa-github"></i><span>Login with Github</span></button>
            </div>
          </div>
        </div>
        <div class="clr-col-8 buttons" >

        </div>
      </div>
    </form>

</div >

</div>




