<mat-table #table [dataSource]="dataSource" *ngIf="dataSource;else spinner" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No</mat-header-cell>
    <mat-cell *matCellDef="let chart;let i=index" >{{i+1}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Artist</mat-header-cell>
    <mat-cell *matCellDef="let chart">{{chart.name}}</mat-cell>
  </ng-container>
  <!--artist-->
  <ng-container matColumnDef="playcounts">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Playcounts</mat-header-cell>
    <mat-cell *matCellDef="let chart" >{{chart.playcount}}</mat-cell>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="listeners">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Listeners</mat-header-cell>
    <mat-cell *matCellDef="let chart" > {{chart.listeners}}</mat-cell>
  </ng-container>

  <!-- playcount Column -->
  <ng-container matColumnDef="total tracks">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Total Tracks</mat-header-cell>
    <mat-cell *matCellDef="let album" > {{album.total_tracks}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table>
<mat-paginator [length]="length"
               [hidden]="!dataSource"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">

</mat-paginator>

<ng-template #spinner>

  <mat-spinner [diameter]="40" color="primary"></mat-spinner>
</ng-template>
