.clr-footer{
  background-color: #002538;
  width: 100%;
  height: 40px;
  line-height: 60px;
  padding: 0 24px;
  border-top: 1px solid #757e83;
  position:fixed;
  bottom: 0;
  margin-left: 12px;
}
.nav-link.nav-text{
  cursor: pointer;
}
