@import '~ngx-perfect-scrollbar/dist/lib/perfect-scrollbar.component.css';
.ps {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
