.card{
  background-color: #002538;
  border-color: #757e83;
  box-shadow: none;
}
.card-media-text,.card-media-title,.card-header,.card-block,.card-footer{
  color: #FAFAFA;
  border-color: #757e83
  //margin-left: 1rem;
}
