<!--<h3>-->
<!--{{moreData?.album.wiki.content}}-->
<!--</h3>-->

<div class="card">
  <div class="card-header">
    More Info About Album
  </div>
  <div class="card-block">

    <div class="card-text">
    </div>

  </div>

  <!--<div class="card-footer">-->
    <!--&lt;!&ndash;<button class="btn btn-sm btn-link">&ndash;&gt;-->
      <!--&lt;!&ndash;Action 1&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-sm btn-link">&ndash;&gt;-->
      <!--&lt;!&ndash;Action 2&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="dropdown top-left open">&ndash;&gt;-->
      <!--&lt;!&ndash;<button class="dropdown-toggle btn btn-sm btn-link">&ndash;&gt;-->
        <!--&lt;!&ndash;Dropdown 1&ndash;&gt;-->
        <!--&lt;!&ndash;<clr-icon shape="caret down"></clr-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<div class="dropdown-menu">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<a href="..." class="dropdown-item">Item 1</a>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<a href="..." class="dropdown-item">Item 2</a>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<a href="..." class="dropdown-item">Item 3</a>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<a href="..." class="dropdown-item">Item 4</a>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
</div>

