.clr-form{
  width: 400px;
  margin: 0 auto;
  padding: 10px 30px;
}
.clr-control-label{
  display: table;

}
.form-group{
  padding-left: 4rem;
}
button{
  margin-top: 1rem;
}
.card{
  width: 400px;
  padding: 10px 40px;
  background-color: #002538;
  box-shadow: none;
  border: none;
  label{
    color: #B8C1C6;
    font-size: 16px;
  }
  input{
    color: #B8C1C6;

  }
}
