@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/ngx-bar-rating/themes/br-stars-theme.css';
@import "~app/css/icons.scss";

body {
  background-image: url("https://images.pexels.com/photos/258847/pexels-photo-258847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: #ffffff;

}

.cdk-overlay-container .cdk-overlay-pane .mat-autocomplete-panel {
  background-color: #022537;
}

.mat-option {
  color: #a3a3a3;
  /*border-bottom:1px solid #F8F8F8;*/
}

span .mat-option-text {
  border: 1px solid red !important;
}
.mat-expansion-panel{
  background: #022537;
}


