.row {
  margin-top: 2.38rem;
  width: 100%;
}

.mat-table {

  margin-left: 7rem;
  width: 100%;

}

.mat-paginator::ng-deep {
  background-color: #002538;
  color: #B8C1C6;
  display: flex;
  justify-content: center;
  margin-left: 7rem;
  width: 100%;
  .mat-select-value, .mat-select-arrow {
    color: #B8C1C6;

  }
  .mat-icon-button[disabled] {
    color: #545e63;
    cursor: pointer;
  }
}

.mat-table {
  //margin-top: 1% ;
  //margin-left: 20rem;
  //width: 70vw;
  background-color: #002538;
  color: #AAB4BB;

  .mat-row {
    border-bottom-color: #757e83;
    img {
      width: 30px;
    }
  }
  .mat-cell {
    color: #AAB4BB;
    &:hover {
      color: #B8C1C6;
      cursor: pointer;
    }
  }
  mat-header-row {
    border-bottom-color: #757e83;
    .mat-header-cell {
      color: #B8C1C6;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.btn-primary {
  color: #FAFAFA;
  background-color: #216869;
  border: none;
}

bar-rating ::ng-deep {
  .br-unit {
    width: 11px
  }
}

